# compiled class files
*.class

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.ear

# Maven
target/

# Gradle
.build/
.gradle/
build/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Output folders
out/
bin/
